[9:59 PM] Shayan Mukhtar (Guest)

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/webpages/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/webpages/css/ResetPassword.css">


    <title>Reset Password</title>
</head>
<body>
    <script>
        function validatePassword() {
            var x = document.getElementById('formGroupExampleInputpassword').value;
            var y = document.getElementById('formGroupExampleInputConPass').value;
            if (x == y) {
                return true;
            }
            else {
                alert("Password in both fields must match!");
                return false;
            }
        }
    </script>

    <div class="first">
        <h1 class="heading">RAILWAY TICKETING SYSTEM</h1>
    </div>


    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/index">Home Page <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/AboutUs">About US</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><br><br>
    <div class="jumbotron">
        <h1 class="display-4">Reset Password</h1><br><br>
        <div class="section">
            <div class="form-group">
                <label for="inputState">Account Type</label>
                <select name="Select" class="form-control" runat="server">
                    <option>Choose...</option>
                    <option>Administrator</option>
                    <option>Passenger</option>
                </select>
                <button onclick="myFunction()">Try it</button>
            </div>
            
            <br>
        </div>
        <form method="POST" action="/Home/ResetPassword">
            <div class="form-group">
                <label for="formGroupExampleInput">Email</label>
                <input type="email" name="mail" class="form-control" id="formGroupExampleInput" placeholder="email">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Password</label>
                <input type="password" name="password" class="form-control" id="formGroupExampleInputpassword" placeholder="password">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Retype Password</label>
                <input type="password" name="confrimPassword" class="form-control" id="formGroupExampleInputConPass" placeholder="password">
            </div>
            <div class="container">
                <button class="btn btn-primary btn-lg" name="pressButton" value="Done" onclick="validatePassword();">Submit</button>
            </div>
        </form>
        <hr class="my-4">
        
    </div>


    <script src="~/webpages/js/jquery.js"></script>
    <script src="~/webpages/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
<div class="footerclass">
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">


                        <div class="footer-pad">
                            <h4>Address:</h4>
                            <ul class="list-unstyled">
                                <p></p>
                                <li>Abc town, XYZ street, district Lahore, Pakistan</li>
                                <br>
                                <li><h5>Office hours</h5></li>
                                <li>Mon-Fri</li>
                                <li>9:00am to 9:00pm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">


                        <div class="footer-pad">
                            <h4>Contact:</h4>
                            <ul class="list-unstyled">
                                <li>+92 123 456789</li>
                                <li>+92 765 098764</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">


                        <div class="footer-pad">
                            <h4>Email Address:</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">RTS1006@gmail.com</a></li>
                                <br>
                                <li><h5>Mail</h5></li>
                                <li>PO BOX 1234</li>
                                <li>abcd, lahore,Pakistan</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                            facebook.com
                            <br>
                            instagram.com
                            <br>
                            twitter.com
                            <br>
                            linkedin.com
                            <br>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2020 - Railway Ticketing System.  All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>










