@using System.Data;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@model IEnumerable<RTS_Term_Project.Models.Station>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ string query = ViewData["Query"].ToString();
                DataTable table;

                if (query == "None")
                {
                    SqlConnection con = new SqlConnection("Data Source=DESKTOP-KFAV4Q6\\SQLEXPRESS;Initial Catalog=RTS;Integrated Security=True");
                    con.Open();
                    SqlCommand cmd = new SqlCommand("Select * from Station", con);
                    SqlDataAdapter adaptor = new SqlDataAdapter(cmd);
                    DataSet data = new DataSet();
                    adaptor.Fill(data);
                    table = data.Tables[0];
                    // cmd.ExecuteNonQuery();
                    con.Close();

                }
                else
                {
                    SqlConnection con = new SqlConnection("Data Source=DESKTOP-KFAV4Q6\\SQLEXPRESS;Initial Catalog=RTS;Integrated Security=True");
                    con.Open();
                    SqlCommand cmd = new SqlCommand(query, con);

                    SqlDataAdapter adaptor = new SqlDataAdapter(cmd);
                    DataSet data = new DataSet();
                    adaptor.Fill(data);
                    table = data.Tables[0];
                    //cmd.ExecuteNonQuery();
                    con.Close();
                } }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/webPages/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/webPages/css/ViewStation.css">

    <title>View Station</title>

    <script type="text/javascript">
        function validate() {

            if (document.myForm.City.value == "") {
                alert("Please provide your city name!");
                document.myForm.City.focus();
                return false;
            }
            return (true);
        }
    </script>
    <script>
        function PreviousPage() {
            window.history.back();
        }
    </script>
</head>
<body class="body1">
    <div class="first">
        <h1 class="heading">BOOK YOUR TRAIN</h1>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">View Stations <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/viewTrains">Train Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/AboutUs">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><br><br>
    <h3 class="lead1"><b>View Stations</b></h3>
    <form class="Stationform" name="myForm" onsubmit="return(validate())" action="/Home/viewStations" method="POST">
        <div class="container-1">
            <div class="row align-item-center">
                <div class="col">
                    <input type="text" name="City" class="form-control" placeholder="City name">
                </div>
                <div class="col">
                    <button type="submit" name="search" value="Submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </div><br /><br />
    </form>
    <div class="table table-striped">
        <table class="table table-striped" id="myTable" name="myTable">
            <thead>
                <tr class="container">
                    <th scope="col" style="text-align: center;">&nbsp; Station Number</th>
                    <th scope="col" style="text-align: center;">&nbsp; Station Name</th>
                    <th scope="col" style="text-align: center;">&nbsp; Station City</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < table.Rows.Count; i++)
                {
    <tr>
        <td scope="row" style="text-align: center;" name="stationNumber">@table.Rows[i].ItemArray[0]</td>
        <td style="text-align: center;" name="nameofStation">@table.Rows[i].ItemArray[1]</td>
        <td style="text-align: center;" name="cityofStation">@table.Rows[i].ItemArray[2]</td>
    </tr>}
            </tbody>
        </table>
    </div>

    <br>
    <br>
    <div class="buttonContainer">
        <button type="button" class="btn btn-lg btn-success" onclick="PreviousPage()">Back</button>
    </div>
    <br>

    <script src="~/webPages/js/jquery.js"></script>
    <script src="~/webPages/js/bootstrap.min.js"></script>
</body>


</html>