@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/webPages/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/webPages/css/AfterAdminLogin.css">
    <title>Admin Account</title>

</head>
<body class="">
    @*<style>
        body {
            background-image: url('/webPages/Loginpage.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        a {
            color: blue;
        }
    </style>*@
    <div class="first">
        <h1 class="heading">BOOK YOUR TRAIN</h1>
    </div>
    <div class="second">
        <nav class="navbar navbar-expand-lg  navbar-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/UserLogin">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/AboutUs">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br><br><br><br><br>
                    <div class="container ">
                        <h1 class="text-center"> ERROR OCCURED! TRY AGAIN</h1>
                    </div>
    <br><br><br><br><br>

    <script src="~/webPages/js/jquery.js"></script>
    <script src="~/webPages/js/bootstrap.min.js"></script>
</body>
</html>