.first{
    height: 60px;
    background-color: darkgreen;
}
.heading{
    text-align: center;
    color: white;
}
.position{
    background-color: darkgreen;
  text-align: right;
}
.display-4{
    font-size: 30px;
    text-align: center;
}
.form-container{
    background-color: #D9DCDA;
    border: 0px;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: -2px 3px 30px 27px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 30px 27px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 30px 27px rgba(0,0,0,0.75);
}
.footer{
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
}
.footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}
.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}
.footer-middle {
    padding-top: 2em;
    color: white;
}